* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    background-color: #ffdde3;
}

h1, h2, h3, h4, h5, ul, li {
    padding: 0;
    margin: 0;
    font: inherit;
}

ul {
    list-style-type: none;
}

.sr-only {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    border-bottom: 1px solid lightgrey;
    transition: height 0.3s ease;
    height: 82px;
    background-color: white;
}

header > div {
    flex: 1;
}

header:hover {
    height: 102px;
}

header:hover .non-hover {
    display: none;
}

header:hover .on-hover {
    display: flex;
}

header:hover .search {
    transform: scale(1.05);
}

header:hover .search-icon {
    border-radius: 40px;
}

.on-hover {
    display: none;
}

.non-hover {
    display: flex;
    min-width: 0;
}

header:hover .on-hover div:first-child {
    padding-left: 30px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
}

.search {
    transform: scale(0.95);
    transition: transform 0.3s ease-in;
    background-color: white;
    border-radius: 40px;
    border: 1px solid lightgrey;
    box-shadow: 0 4px 11px 1px #c5c5c5;
    display: flex;
    cursor: pointer;
    min-width: 335px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: fit-content;
}


.search button:not(.search-icon) {
    background: none;
    border: none;
    font-weight: 500;
    padding: 0 24px;
    margin: 12px 0;
    line-height: 1.6;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.search button:nth-child(3) {
    font-weight: normal;
    color: grey;
}

.search-icon {
    border-radius: 50%;
    background: #ff385c;
    border: none;
    margin: 7px 10px 7px 0;
    color: white !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.search label {
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 2px;
}

.search input {
    border: none;
    color: grey;
    font-size: 14px;
    background-color: transparent;
    z-index: 1;
}

.search input:focus {
    outline: none;
}

.search span {
    font-weight: 500;
    font-size: 16px;
    padding-right: 14px;
}

.on-hover > div {
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative;
}

.on-hover > div:not(:first-child)::after {
    content: "";
    width: 100%;
    height: 34px;
    border-left: 1px solid #EBEBEB;
    top: calc(50% - 17px);
    position: absolute;
    left: 0;
    z-index: 0;
}

.on-hover > div:hover {
    background-color: #EBEBEB;
    border-radius: 40px;
}

.on-hover > div:hover + div:after {
    border: 1px solid transparent;
}

.on-hover > div:hover:after {
    border: 1px solid transparent;
}

.on-hover div:last-child {
    width: 150px;
}

.navigation-bar {
    margin-left: 16px;
    gap: 4px;
    display: flex;
    justify-content: end;
}

.navigation-bar button:first-child {
    background: none;
    border: none;
    font-weight: 500;
    padding: 10px;
    border-radius: 40px;
}

.button-hover:hover {
    background-color: #ececec !important;
}

.navigation-bar button:nth-of-type(2) {
    background: none;
    border: none;
    font-weight: 500;
    padding: 10px;
    border-radius: 50%;
}

.navigation-bar button:last-child {
    background: none;
    border: 1px solid lightgrey;
    font-weight: 500;
    padding: 7px 10px;
    border-radius: 40px;
    gap: 16px;
    cursor: pointer;
}

.navigation-bar img {
    border-radius: 50%;
}

form {
    max-height: 80vh;
    overflow: hidden;
    max-width: 780px;
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 12px;
    background-color: white;
    margin: 50px auto 0;
    overflow-y: auto;
}

form h2 {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 24px;
}

.form-cross {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.form-cross:hover {
    background-color: #ececec;
}

.form-header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

form h1 {
    padding: 15px 0;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ececec;
    font-size: 16px;
    line-height: 2;
}

.form-section section:not(section:last-child) {
    padding: 24px;
    border-bottom: 1px solid #ececec;
}

.form-section-type div {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.select-label {
    border: 1px solid lightgrey;
    width: 205px;
    padding: 22px;
    cursor: pointer;
    margin-left: -1px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.select-label:hover {
    border: 1px solid black;
}

.form-section-type div label:nth-child(2):hover {
    z-index: 1;
}

.form-section-type div label:nth-child(4):hover {
    z-index: 2;
}

.form-section-type div label:nth-child(2) {
    border-radius: 12px 0 0 12px;
}

.form-section-type div label:last-child {
    border-radius: 0 12px 12px 0;
}

.form-section-type input:checked + label {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.form-section-price h2 {
    padding-bottom: 0;
}

.form-section-price p {
    padding: 8px 0 24px 0;
}

.form-section-price-range {
    position: relative;
}

.form-section-price-range > div:first-child {
    position: relative;
}

.price-columns {
    display: grid;
    gap: 2px;
    grid-auto-flow: column;
    justify-content: center;
    overflow: hidden;
}

.price-columns div {
    width: 10px;
    height: 60px;
    background: #262626;
    position: relative;
}

.price-columns-1 {
    top: 1px;
}

.price-columns-2 {
    top: 20px;
}

.price-columns-3 {
    top: 28px;
}

.price-columns-4 {
    top: 45px;
}

.multi-range {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.multi-range input[type=range]:last-child {
    background: none;
}

input[type=range] {
    appearance: none;
    width: 90%;
    border-radius: 1px;
    background: linear-gradient(black, black) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;
    position: absolute;
}

input[type=range]:active,
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 32px;
    width: 32px;
    border-radius: 28px;
    background-color: #fff;
    margin: 5px 0;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 16%);
    border: 1px solid lightgrey;
}

input[type=range]::-webkit-slider-thumb:active {
    transform: scale(1.1875);
}

.price-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price-min, .price-max {
    flex-grow: 1;
}

.price-min > div, .price-max > div {
    position: relative;
    margin: 0 auto;
    width: 70%;
}

.price-buttons label {
    position: absolute;
    color: grey;
    font-size: 12px;
    bottom: 32px;
    left: 12px;
}

.price-buttons input {
    border: 1px solid darkgrey;
    border-radius: 8px;
    padding: 24px 8px 12px 25px;
    width: 100%;
    font-size: 16px;
}

.price-buttons span {
    position: absolute;
    top: 24px;
    left: 12px;
    font-size: 16px;
}

.price-line {
    width: 16px;
    height: 1px;
    background: lightgrey;
}

.form-section-room h3 {
    font-size: 16px;
    padding: 4px 2px 24px;
}

.form-section-room > div {
    padding-bottom: 24px;
}

.room-label {
    cursor: pointer;
    padding: 11px 24px;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: inline-block;
    margin-right: 6px;
}

.room-label:hover {
    border: 1px solid black;
}

.form-section-room input:checked + label {
    background: black;
    color: white;
    border: 1px solid black;
}

.form-section-top ul {
    display: flex;
    gap: 10px;
}

.form-section-top label {
    border: 1px solid lightgrey;
    padding: 20px 24px;
    border-radius: 12px;
    max-width: 350px;
    display: block;
    cursor: pointer;
    transition: transform, background-color, border-color;
    transition-duration: 0.15s;
}

.form-section-top label:active {
    transform: scale(0.925);
}

.form-section-top label:hover {
    border: 1px solid black;
}

.form-section-top svg {
    margin-bottom: 12px;
}

.form-section-top span {
    display: block;
    width: 90%;
}

.top-title {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

.top-description {
    color: grey;
    text-align: left;
    margin-top: 4px;
}

.form-section-top input:checked + label {
    background: #f3f3f3;
    border: 2px solid black;
    padding-bottom: 18px;
}

.form-section-property ul {
    display: flex;
    gap: 10px;
}

.form-section-property li {
    width: 100%;
}

.form-section-property label {
    border: 1px solid lightgrey;
    padding: 16px;
    border-radius: 12px;
    max-width: 168px;
    display: block;
    cursor: pointer;
    transition: transform, background-color, border-color;
    transition-duration: 0.15s;
}

.form-section-property label:active {
    transform: scale(0.925);
}

.form-section-property label:hover {
    border: 1px solid black;
}

.form-section-property img {
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
}

.form-section-property span {
    font-weight: 500;
    font-size: 16px;
    display: block;
    padding-top: 25px;
}

.form-section-property input:checked + label {
    background: #f3f3f3;
    border: 2px solid black;
}

/*footer*/

.form-footer {
    border-top: 1px solid lightgrey;
    background: white;
    padding: 16px 24px;
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: space-between;
}

.form-footer button:first-child {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.form-footer button:first-child:hover {
    background-color: #ececec;
}

.form-footer button:last-child {
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 14px 24px;
    border-radius: 12px;
    background-color: #262626;
    cursor: pointer;
}

.form-footer button:last-child:hover {
    background-color: black;
}

